@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #0c4434;
  --color-secondary: #124d3b;
  --color-accent: #a7f070;
  --color-background: #f4f7f0;
  --font-inter: "Inter", sans-serif;
}

body {
  font-family: var(--font-inter);
  @apply bg-background;
}

.pause-on-hover:hover {
  animation-play-state: paused;
}

@media (max-width: 400px) {
  body {
    width: 400px;
  }
}
